@import "../../assets/styles/variable.scss";

.radio-wrapper{
  padding: 10px 15px;
  height: 24px;
  line-height: 24px;
  position: relative;
  background-color: $white;
  color: $defaultTextColor;
  font-size: 14px;
  overflow: hidden;
  &+ .radio-wrapper{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      transform: scaleY(0.5);
      border-width: 1px 0 0 0;
      border-color: $borderColor;
      border-style: solid;
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    .fa-circle-thin{
      color: $grey;
    }
    .fa-check-circle{
      color: $blueTextColor;
    }
  }
  &__label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
    color: $defaultTextColor;
  }
}
