@import "../../assets/styles/variable.scss";

.radio-wrapper{
  padding: 10px 15px;
  position: relative;
  background-color: $white;
  color: $defaultTextColor;
  font-size: 14px;
  overflow: hidden;
  &+ .radio-wrapper{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      transform: scaleY(0.5);
      border-width: 1px 0 0 0;
      border-color: $borderColor;
      border-style: solid;
    }
  }
  &__content{
    position: relative;
    line-height: 24px;
    font-size: 22px;
    padding-left: 32px;
    .radio-item{
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .radio-label{
      display: inline-block;
      min-width: 50px;
      vertical-align: top;
      font-size: 16px;
      color: $defaultTextColor;
    }
    .fa{
      float: left;
      line-height: 24px;
      margin-left: -32px;
    }
    .fa-circle-thin{
      color: $grey;
    }
    .fa-check-circle{
      color: $blueTextColor;
    }
  }
}
