@import "../../assets/styles/variable.scss";

.cell-wrapper{
  position: relative;
  overflow: hidden;
  background-color: $white;
  &__item{
    width: 100%;
    display: flex;
    line-height: 24px;
    background-color: $white;
    font-size: 14px;
    color: $defaultTextColor;
    padding: 10px 15px;
    box-sizing: border-box;
    &.is-link{
      &:active{
        background-color: $linkActiveBgColor;
      }
    }
    .cell-title{
      flex: 1;
    }
    .cell-icon{
      min-width: 1em;
      height: 24px;
      line-height: 24px;
      font-size: 18px;
      margin-left: 5px;
      text-align: center;
      color: $lightTextColor;
    }
  }
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    left: 15px;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: 1px solid $borderColor;
  }

}
