@import "../../assets/styles/variable.scss";

.vue-collapse{
  background-color: $white;
  border-radius: 5px;
  overflow: hidden;
  &:not(:last-child){
    margin-bottom: 20px;
  }
  &.expanded{
    .collapse-head{
      &__icon{
        transform: rotate(-90deg);
      }
    }
  }
  .collapse-head{
    width: 100%;
    display: flex;
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 24px;
    position: relative;
    background-color: $white;
    font-size: 16px;
    color: $defaultTextColor;
    overflow: hidden;
    &__title{
      font-weight: bold;
      flex: 1;
    }
    &__icon{
      min-width: 1em;
      height: 24px;
      line-height: 24px;
      font-size: 18px;
      text-align: center;
      color: $lightTextColor;
      transform: rotate(90deg);
      transition: .3s;
    }
  }
}
