@import "../../assets/styles/variable.scss";

.checkbox-group{
  &__title{
    padding: 8px 15px;
    color: $lightTextColor;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
  }
  &__content{
    position: relative;
    background-color: $white;
    overflow: hidden;
    padding: 0 15px;
    &:after{
      content: "";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      transform: scale(0.5);
      border-width: 1px 0;
      border-color: $borderColor;
      border-style: solid;
    }
  }
  .checkbox-inline{
    position: relative;
    background-color: $white;
    padding-left: 80px;
    padding-right: 15px;
    &:after{
      content: "";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      transform: scale(0.5);
      border-width: 1px 0 0;
      border-color: $borderColor;
      border-style: solid;
    }
    &:last-child{
      &:after{
        border-width: 1px 0;
      }
    }
    &__title{
      color: $lightTextColor;
      padding: 10px 0;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      float: left;
      width: 65px;
      margin-left: -65px;
    }
    &__content{
      display: flex;
      position: relative;
      background-color: $white;
      overflow: hidden;
      .checkbox-wrapper{
        &:after{
          content: none;
        }
      }
    }
  }
}
