@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "./responsive.scss";
@import "./variable.scss";

body{
  color: $defaultTextColor;
  background-color: $defaultBgColor;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
