@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "./responsive.scss";
@import "./variable.scss";

body{
  color: $defaultTextColor;
  background-color: $defaultBgColor;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  text-decoration: none;
  color: $defaultTextColor;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/**
* 变量和函数
*/
@mixin background-img($url, $color) {
  @if $url {
    background-color: transparent;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } @else {
    background-color: $color;
  }
  vertical-align: middle;
}
@mixin image($width, $height) {
  @if $width {
    width: $width;
    height: auto;
  }
  @if $height {
    width: auto;
    height: $height;
  }
  display: inline-block;
}
/**
* px转化成rem函数
*/
$basePixel: 16;
@function rem($size) {
  @return $size / 2 / $basePixel * 1rem;
}
