/**
* 变量和函数
*/
@mixin background-img($url, $color) {
  @if $url {
    background-color: transparent;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } @else {
    background-color: $color;
  }
  vertical-align: middle;
}
@mixin image($width, $height) {
  @if $width {
    width: $width;
    height: auto;
  }
  @if $height {
    width: auto;
    height: $height;
  }
  display: inline-block;
}
/**
* px转化成rem函数
*/
$basePixel: 16;
@function rem($size) {
  @return $size / 2 / $basePixel * 1rem;
}
