$defaultTextColor: #323233;
$defaultBgColor: #fafafa;
$darkTextColor: #666666;
$lightTextColor: #969799;
$white: #fff;
$errorTextColor: #f00;
$linkActiveBgColor: #e8e8e8;
$borderColor: #e8e8e8;
$grey: #e5e5e5;
$blueTextColor: #1989fa;
